* {
    box-sizing: border-box;
    margin: 0;
}

.wrapper {
    width: 80%;
    margin: auto;
}

body {
    background-image: url(img/bgLogo.jpg);
    background-size: contain;
    background: #e3e3e3;
}


/* header */

header {
    border-bottom: coral 50px solid;
}

nav {
    width: 100%;
    height: 50px;
    background: coral;
    top: 0;
    padding: 15px 30px 15px 30px;
    text-align: center;
    font-size: 20px;
}

nav a {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 16px;
    width: 100%;
    min-height: 50px;
    text-align: center;
    color: #fff;
    padding-left: 12px;
    text-decoration: none;
}

nav a:hover {
    color: lightgray;
    font-size: 18px;
}

.hero {
    min-height: 500px;
    background-image: url(../img/stonesBanner.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.hero h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 6em;
    text-align: center;
    color: white;
    padding-top: 30px;
}


/* main content */

.bigbox {
    margin-top: 0;
    margin-bottom: 50px;
    border-bottom: darkgrey 50px solid;
}

.bigpic {
    margin: 0;
    width: 50%;
    float: left;
}

.sidebar {
    margin: 0;
    height: 379px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.4em;
    width: 50%;
    background-color: black;
    float: right;
    color: coral;
    padding: 60px;
}

.sidebar a:hover {
    color: #fff;
}

.sidebar a:visited {
    color: coral;
}

blockquote {
    font-family: Georgia, serif;
    position: relative;
    margin: 0.5em;
    padding: 0.5em 2em 0.5em 3em;
}


/* Thanks: http://callmenick.com/post/styling-blockquotes-with-css-pseudo-classes */

blockquote:before {
    font-family: Georgia, serif;
    position: absolute;
    font-size: 6em;
    line-height: 1;
    top: 0;
    left: 0;
    content: "\201C";
}

blockquote:after {
    font-family: Georgia, serif;
    position: absolute;
    /* display: block; don't use this, it raised the quote too high from the bottom - defeated line-height? */
    float: right;
    font-size: 6em;
    line-height: 1;
    right: 0;
    bottom: -0.5em;
    content: "\201D";
}

blockquote footer {
    padding: 0 2em 0 0;
    text-align: right;
}

blockquote cite:before {
    content: "\2013";
}

.sidebar p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: white;
    padding: 30px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

article {
    background: rgba(255, 255, 255, .85);
    padding: 50px;
}


/* table */

table.centerT {
    background-size: 80%;
    margin: auto;
}

table th {
    text-align: left;
    padding: 5px, 30px, 5px, 15px;
}

table tr {
    padding: 5px 30px 5px 15px;
}

article {
    background: rgba(255, 255, 255, .85);
    padding: 50px;
}

.center {
    /* display: block; */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 60%;
}

.flowRight {
    float: right;
    margin-left: 10px;
}

.flowLeft {
    float: left;
    margin-right: 10px;
}

.onRight {
    margin-right: 20px;
    text-align: right;
}

.onLeft {
    margin-left: 20px;
    text-align: left;
}

.vid-container {
    background-color: rgba(255, 255, 255, .75);
    margin: 40px auto 0 auto;
    padding: 20px;
    display: flex;
}

.vid1 {
    flex: 1;
}

.vid2 {
    flex: 1;
}